body {
    --foreground: #1DE9B6;
    --foreground-error: #FF1744;

    background: #263238;
    color: var(--foreground);

    font-family: monospace;
}

main {
    margin: 0 auto;
    margin-top: 5em;
    width: 50%;
}

a:visited {
    color: #AA00FF;
}

#decryption-result {
    display: block; 
    max-width: 50vw;
    overflow-wrap: break-word;
}

@media(max-width: 1024px) {
    #decryption-result {
        max-width: unset;
    }
}

@media(max-width: 750px) {
    main {
        margin: 0;
        width: 100%;
    }
}
